.gameContainer {
  display: grid;
  gap: 5px;
  position: relative;
  justify-items: center;
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  position: relative;
}

.title {
  font-size: 64px;
  font-weight: bold;
  color: #776e65;
  margin-bottom: 20px;
  margin-right: 20px;
}

.scores {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.scoreBox {
  background-color: #bbada0;
  padding: 20px;
  border-radius: 5px;
  color: #f9f6f2;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.scoreBox .label {
  font-size: 12px;
  text-transform: uppercase;
  background: #bbada0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.newGameButton {
  background-color: #8f7a66;
  color: #f9f6f2;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
}

.sizeSelector {
  background-color: #8f7a66;
  color: #f9f6f2;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  align-self: flex-end;
  margin-left: 10px;
}

.row {
  display: contents;
}

.cell {
  width: 80px;
  height: 80px;
  background: #cdc1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #776e65;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.cell-2 {
  background-color: #eee4da;
  color: #776e65;
}

.cell-4 {
  background-color: #ede0c8;
  color: #776e65;
}

.cell-8 {
  background-color: #f2b179;
  color: #f9f6f2;
}

.cell-16 {
  background-color: #f59563;
  color: #f9f6f2;
}

.cell-32 {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.cell-64 {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.cell-128 {
  background-color: #edcf72;
  color: #f9f6f2;
}

.cell-256 {
  background-color: #edcc61;
  color: #f9f6f2;
}

.cell-512 {
  background-color: #edc850;
  color: #f9f6f2;
}

.cell-1024 {
  background-color: #edc53f;
  color: #f9f6f2;
}

.cell-2048 {
  background-color: #edc22e;
  color: #f9f6f2;
}

.score {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.highScore {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.gameOver,
.gameSuccess {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 10;
}

.retryButton,
.continueButton,
.newGameSuccessButton {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f2b179;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.retryButton:hover, .newGameSuccessButton:hover, .continueButton:hover {
  background: #9c8b7a;
}

.scoreDelta {
  position: absolute;
  left: 33%;
  top:40%;
  transform: translateX(-50%);
  animation: fadeMove .7s forwards;
}

@keyframes fadeMove {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
